.carousel-container {
    margin: 50px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px 5px rgba(80, 79, 79, 0.5);
    border-radius: 10px;
}
.carousel-container:hover{
    transform: scale(1.04);
    transition: 0.5s;
}
.carousel-wrapper {
    position: relative;
    width: 100%;
    background: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 10px;
}

.carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slides a {
    flex-shrink: 0;
    width: 100%;
}

.slides img {
    width: 100%;
    aspect-ratio: 100 / 31.25; /* giữ tỉ lệ 100:31.2 */
    object-fit: contain;
    display: block;

}

.ctrl-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: rgba(121, 121, 121, 0);
    padding: 0.5rem 1.3rem;
    font-size: 1.5rem;
    height: 100%;
    cursor: pointer;
    transition: 0.2s;
    color: rgba(0, 0, 0, 0.5);
}

.ctrl-btn:hover {
    background-color: rgba(121, 121, 121, 0.1);
    color: black;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.dots {
    position: absolute;
    bottom: 15px; /* cách mép dưới 15px */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 8px;
}

.dots button {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: none;
    background: #b6b5b5;
    cursor: pointer;
    margin: 2px;
}

.dots button.active {
    background: #1f2937;
}

@media screen and (max-width: 2400px) {
    
}
@media screen and (max-width: 890px) {
    .carousel-container{
        margin: 0;
        border-radius: 0;
    }
    .carousel-container:hover{
        transform: none;
    }
    .carousel-wrapper{
        border-radius: 0;
    }
    .carousel{
        border-radius: 0;
    }
    .slides{
        border-radius: 0;
    }
    .ctrl-btn {
        display: none;
    }
    .dots{
        display: none;
    }
}