.products-container{
    display: flex;
    width: 100%;
    justify-content: center ;
    flex-wrap: wrap;
    margin-bottom: 50px;
    gap: 15px;
}
.product-box{
    width: 24%;
    min-width: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px 15px 30px 15px;
    border-radius: 10px;
}
.item-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product-box:hover{
    box-shadow: 5px 2px 10px rgb(133, 132, 132);
}
.product-image{
    width: 60%;
    max-width: 100%;
    margin-bottom: 20px;
}
.product-img{
    width: 100%;
}
.product-tag{
    width: 100%;
    min-height: 50px;
    align-items: baseline;
    display: flex;
    justify-content: flex-end;
}
.product-box h3{
    width: 100%;
    padding-left: 40px;
    margin-bottom: 15px;
}
.price-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}
.curr_price{
    color: #0066CC;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 5px;
}
.old-price{
    color: gray;
    text-decoration: line-through;
}

.section-2{
    width: 100%;
    background-color: white;
    padding: 30px 100px;
    margin-bottom: 40px;
    border-radius: 10px;
}

.section-2 h2{
    text-align: center;
    margin: 40px 20px 20px 20px;
    font-size: 30px;
}

.section-2 p{
    font-size: 18px;
    margin-bottom: 20px;
}
.section-2 ul{
    padding-left: 40px;
    font-size: 18px;

}
.section-2 ul li{
    margin: 10px;
}

.section-2 b{
    color: #0553a1;
}